.cvContainer {
    /* border: 1px solid black; */
    width: 60rem;
    margin: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 7px black;
}

.topContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    /* border: 1px solid black; */
    padding-bottom: 50px;
}

.characterContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* border: 1px solid black; */
    align-items: center;
    padding-top: 100px;
}

.profileImage {
    height: 150px;
    width: 150px;
    border-radius: 500px;
}

.characterText {
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
}

.jobTitle {
    font-size: 20px;
}

.introductionContainer {
    display: flex;
    flex: 1.5;
    /* border: 1px solid black; */
    flex-direction: column;
    padding-left: 50px;
    padding-right: 20px;
    justify-content: center;
    padding-top: 100px;
}

.introductionTitle {
    font-size: 20px;
    font-weight: 600;
}

.introductionText {

}

.universityLink {
    margin-left: 5px;
    margin-right: 5px;
}

.contactContainer {
    margin-top: 50px;
}

.contactInformationContainer {
   display: flex;
   flex-direction: row; 
}

.contactInfoTitle {
    font-size: 18px;
    font-weight: 600;
}

.contactFieldsContainer {
    margin-right: 10px;
}




.bottomContainer {
    /* border: 1px solid black; */
    margin: 50px;
    padding-bottom: 50px;
    
}

.bottomTitles {
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}
