.mainContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    /* border: 1px solid black; */
    width: 90%;
}

.dateText {
    font-size: 11px;
    color: gray;
}

.experienceTitle {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}
