.projectContainer {
    margin: 10rem;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18rem;
    width: 18rem;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 1px 2px 5px gray;
    background-color: white;
    transition: box-shadow 0.3s;
}

.project:hover {
    box-shadow: 1px 2px 10px gray;
    transition: box-shadow 0.3s;
}

.projectTitle {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.projectGif {
    display: flex;
    height: 17rem;
    width: 17rem;
    border-radius: 10px;
    opacity: 1;
}